# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
npm-debug.log

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store

#Netbeans
/nbproject
