# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
npm-debug.log
package-lock.json

# testing
/coverage

# production
/dist
/build

# documentation
/docs

# misc
.DS_Store

#Netbeans
/nbproject

#IntelliJ
.idea/