// Available theme variables can be found in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #642869;
@body-background: @layout-body-background;
@layout-header-background: @layout-body-background;




// Typography
// -------------------------

// New Typography
@font-face {
    font-family: 'National';
    src: url('../fonts/National-Book.eot'), url('../fonts/National-Book.eot#iefix') format('embedded-opentype'), url('../fonts/National-Book.woff') format('woff');
    font-weight: 400;
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'National';
    src: asset-url('National-Bold.eot'), asset-url('National-Bold.eot?#iefix') format('embedded-opentype'), asset-url('National-Bold.woff') format('woff');
    font-weight: 400;
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'National';
    src: asset-url('National-BookItalic.eot'), asset-url('National-BookItalic.eot?#iefix') format('embedded-opentype'), asset-url('National-BookItalic.woff') format('woff');
    font-weight: 400;
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'National';
    src: asset-url('National-BoldItalic.eot'), asset-url('National-BoldItalic.eot?#iefix') format('embedded-opentype'), asset-url('National-BoldItalic.woff') format('woff');
    font-weight: 400;
    font-weight: bold;
    font-style: italic
}

@font-face {
    font-family: 'National LF';
    src: asset-url('NationalWebLF-Regular.eot'), asset-url('NationalWebLF-Regular.eot?#iefix') format('embedded-opentype'), asset-url('NationalWebLF-Regular.woff') format('woff');
    font-weight: 400;
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'National LF';
    src: asset-url('NationalWebLF-Bold.eot'), asset-url('NationalWebLF-Bold.eot?#iefix') format('embedded-opentype'), asset-url('NationalWebLF-Bold.woff') format('woff');
    font-weight: 400;
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'National LF';
    src: asset-url('NationalWebLF-RegularItalic.eot'), asset-url('NationalWebLF-RegularItalic.eot?#iefix') format('embedded-opentype'), asset-url('NationalWebLF-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'National LF';
    src: asset-url('NationalWebLF-BoldItalic.eot'), asset-url('NationalWebLF-BoldItalic.eot?#iefix') format('embedded-opentype'), asset-url('NationalWebLF-BoldItalic.woff') format('woff');
    font-weight: 400;
    font-weight: bold;
    font-style: italic
}