// Available theme variables can be found in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #642869;
@layout-body-background: #f0f2f5;
@layout-header-background: #001529;
@body-background: @layout-body-background;
@border-color-base: #d9d9d9;

// Layout
@layout-header-padding          : 0 10px;
@layout-header-background: @layout-body-background;

// Menu
@menu-bg: @layout-header-background;

// Input
@input-border-color: #d9d9d9;

// Tables
@table-row-hover-bg: #e0e0e0;
@item-hover-bg: #e0e0e0;