@import "~antd/dist/antd.less";
@import "ant-theme-vars.less";

.ant-steps-horizontal {
    margin-bottom: 10px;
}

.hide {
    display: none;
}
.yfu-menu {
    background: @layout-body-background;
}
.yfu-menu-header {
    background: @layout-body-background;
    box-sizing: border-box; 
    flex-flow: row wrap; 
    display: flex; 
    flex: 0 0 auto; 
    align-items: stretch;
}
.yfu-menu-logo {
    flex: 0 0 auto; 
    align-items: stretch;
}
.yfu-menu-left {
    flex: 1 1 auto; 
    align-items: stretch;
}
.yfu-menu-right {
    flex: 0 0 auto; 
    align-items: stretch;
}

.ant-btn.ant-btn-primary.next-step {
	margin-right: 8px;
}
.ant-btn.ant-btn-primary{
    background:@primary-color;
    border-color:@primary-4;
}
.ant-btn.ant-btn-primary:hover {
    background:@primary-4;
    border-color:@primary-6;
}
.ant-btn.ant-btn-primary:focus{
    background:@primary-4;
    border-color:@primary-6;  
}
.ant-btn.ant-btn-primary:selection{
    background:@primary-4;
    border-color:@primary-6;  
}