@import "~antd/dist/antd.less";
@import "ant-theme-vars.less";

.ant-steps-horizontal {
    margin-bottom: 10px;
}

.hide {
    display: none;
}
.yfu-menu {
    background: @layout-body-background;
}
.yfu-menu-header {
    background: @layout-body-background;
    box-sizing: border-box; 
    flex-flow: row wrap; 
    display: flex; 
    flex: 0 0 auto; 
    align-items: stretch;
}
.yfu-menu-logo {
    flex: 0 0 auto; 
    align-items: stretch;
}
.yfu-menu-left {
    flex: 1 1 auto; 
    align-items: stretch;
}
.yfu-menu-right {
    flex: 0 0 auto; 
    align-items: stretch;
}

.ant-btn.ant-btn-primary.next-step {
	margin-right: 8px;
}
.ant-btn.ant-btn-primary{
    background:@primary-color;
    border-color:@primary-4;
}
.ant-btn.ant-btn-primary:hover {
    background:@primary-4;
    border-color:@primary-6;
}
.ant-btn.ant-btn-primary:focus{
    background:@primary-4;
    border-color:@primary-6;  
}
.ant-btn.ant-btn-primary:selection{
    background:@primary-4;
    border-color:@primary-6;  
}
.DetailLable {
    font-weight: bold;
}

// Nested Tables

.components-table-demo-nested .ant-table-expanded-row > td:last-child {
  padding: 0 48px 0 8px;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th {
  border-bottom: 1px solid #e9e9e9;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th:first-child {
  padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-row td:first-child {
  padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-row:last-child td {
  border: none;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-thead > tr > th {
  background: none;
}

.components-table-demo-nested .table-operation a:not(:last-child) {
  margin-right: 24px;
}

.components-table-demo-nested .ant-table-expanded-row:hover > td {
  background: #fbfbfb;
}