@import "~antd/dist/antd.less";

@volunteer-color: #e6004b;

.hide {
    display: none;
}
.yfu-menu {
    background: @layout-body-background;
}
.yfu-menu-header {
    background: @layout-body-background;
    box-sizing: border-box; 
    flex-flow: row wrap; 
    display: flex; 
    flex: 0 0 auto; 
    align-items: stretch;
}
.yfu-menu-logo {
    flex: 0 0 auto; 
    align-items: stretch;
}
.yfu-menu-left {
    flex: 1 1 auto; 
    align-items: stretch;
}
.yfu-menu-right {
    flex: 0 0 auto; 
    align-items: stretch;
}

.method-block-warning {
    border-left: 5px solid @volunteer-color;
    padding-left: 9px;
}

.method-block-warning-title {
    font-weight: bold;
    color: @volunteer-color;
    font-size: 1.2em;
    margin-bottom: 0.5em;

    &::before {
        font-size: 2em;
        vertical-align: middle;
        content: '\26a0\00a0';
    }

}

.method-block-table {
    border-collapse: collapse;
    border: 1px solid @normal-color;
    margin: 10px auto;

    tr {
        &:nth-child(even) {
            background-color: @table-selected-row-bg;
        }

        td {
            padding: @table-padding-vertical @table-padding-horizontal;
        }
    }
}

.method-block-quote {
    border-left: 5px solid @normal-color;
    padding-left: 9px;
    font-style: italic;
    color: @text-color-secondary;
}

.method-block-quote-cite::before {
    content: '\2014\00a0';
}